<div class="wrapper">
  <div class="page-header section-dark" data-parallax="true"
    style="background-image: url('./assets/img/backgrounds/emile-perron-xrVDYZRGdw4-unsplash_original.jpg');">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="motto text-center">
            <h5>Hola, soy</h5>
          </div>
          <h1 class="presentation-title">Victor Romero</h1>
          <div class="motto text-center">
            <h4>Desarrollador de Software</h4>
          </div>
          <h2 class="presentation-subtitle text-center">Bienvenido a mi portafolio</h2>
          <br />
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i
              class="fa fa-google-plus"></i>Gmail</a>
          <button type="button" class="btn btn-outline-neutral btn-round">Descargar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section profile-content p-0 main-photo-transparent">
      <div class="container">
        <div class="owner">
          <div class="avatar">
            <img src="./assets/img/faces/victor-photo-main.jpg" alt="Circle Image"
              class="img-circle img-no-padding img-responsive">
          </div>
        </div>
        <br />
      </div>
    </div>
    <div class="section text-center pt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <h2 class="title m-0 mb-4">Sobre mi</h2>
            <h5 class="description">Como desarrollador de software, he trabajado para distintas empresas
              durante mi
              trayectoria laboral. Poseo una gran capacidad de análisis de la información, respaldado
              tanto por mi
              experiencia laboral como por mis estudios universitarios.<br><br>
              Me considero un autodidacta apasionado por la tecnología, siempre dispuesto a asumir nuevos
              retos y
              colaborar en equipo para lograr los objetivos de la empresa junto a mi compromiso con la
              calidad y la
              excelencia.</h5>
          </div>
        </div>
        <br /><br />
        <div class="row" style="justify-content: center">
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-key-25"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Resolución de problemas.</h4>
                <p class="description">Encuentro soluciones creativas y eficientes, superando desafíos
                  con confianza y
                  determinación.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-vector"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Trabajo en equipo.</h4>
                <p>Colaboro de manera efectiva, fomentando una comunicación abierta y constructiva para
                  alcanzar metas
                  conjuntas.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-globe"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Adaptabilidad.</h4>
                <p>Me adapto rápidamente a nuevos entornos, siendo flexible y proactivo ante cualquier
                  cambio.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-spaceship"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Pensamiento creativo.</h4>
                <p>Genero ideas innovadoras y soluciones originales para enfrentar desafíos con enfoque
                  creativo.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-diamond"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Capacidad de aprendizaje.</h4>
                <p>Me adapto rápidamente a nuevos conocimientos y habilidades, siempre buscando crecer y
                  mejorar.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-watch-time"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Gestión del tiempo.</h4>
                <p>Organizo eficientemente mis tareas y prioridades para alcanzar objetivos con
                  puntualidad y calidad.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-tap-01"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Habilidades de comunicación.</h4>
                <p>Transmito ideas de forma clara y persuasiva, estableciendo relaciones efectivas y
                  generando impacto
                  positivo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-dark text-center">
      <div class="container">
        <h2 class="title">Tecnologías dominadas</h2>
        <div class="row">
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/317755_badge_html_html5_achievement_award_icon.png"
                  class="img-thumbnail img-responsive" alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">HTML</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/317756_badge_css_css3_achievement_award_icon.png"
                  class="img-thumbnail img-responsive" alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">CSS</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/4373213_js_logo_logos_icon.png"
                  class="img-thumbnail img-responsive" alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">JAVASCRIPT</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/4373284_angular_logo_logos_icon.png"
                  class="img-thumbnail img-responsive" alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">ANGULAR+</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/7423888_react_react native_icon.png"
                  class="img-thumbnail img-responsive" alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">REACT</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/308444_javascrpt_js_library_long shadow_nodejs_icon.png"
                  class="img-thumbnail img-responsive" alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">NODEJS</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/1269843_app_development_framework_htm_hybrid_icon.png"
                  class="img-thumbnail img-responsive" alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">IONIC</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/1012821_code_development_logo_mysql_icon.png"
                  class="img-thumbnail img-responsive" alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">MYSQL</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/1012822_code_development_logo_mongodb_programming_icon.png"
                  class="img-thumbnail img-responsive" alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">MONGOBD</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/211904_social_github_icon.png" class="img-thumbnail img-responsive"
                  alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">GITHUB</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/9118068_node_fill_icon.png" class="img-thumbnail img-responsive"
                  alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">EXPRESS</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/4691397_postman_icon.png" class="img-thumbnail img-responsive"
                  alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">POSTMAN</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/8666135_bootstrap_icon.png" class="img-thumbnail img-responsive"
                  alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">BOOTSTRAP</h4>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-logos">
                <img src="assets/img/iconfinderLogos/9055799_bxl_tailwind_css_icon.png"
                  class="img-thumbnail img-responsive" alt="Rounded Image">
              </div>
              <div class="card-block">
                <h4 class="text-center">TAILWIND CSS</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-navbars p-0">
      <div id="navbar">
        <div class="navigation-example">
          <nav class="navbar navbar-expand-lg navbar-transparent padding-6rem">
            <div class="container">
              <a class="navbar-brand" href="#"></a>
              <div class="collapse navbar-collapse" id="navbar-transparent">
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="col-md-8">
          <h2 class="title">Proyectos de muestra</h2>
        </div>
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="./assets/desings/kenstok1_03.jpg" alt="Random first slide">
                  <div class="carousel-caption">
                    <p>Proyecto 1</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="./assets/desings/kenstok1_03.jpg" alt="Random first slide">
                  <div class="carousel-caption">
                    <p>Proyecto 2</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="./assets/desings/kenstok1_03.jpg" alt="Random first slide">
                  <div class="carousel-caption">
                    <p>Proyecto 3</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="./assets/desings/kenstok1_03.jpg" alt="Random first slide">
                  <div class="carousel-caption">
                    <p>Proyecto 4</p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
        <div class="row" style="justify-content: center">
          <div class="col-xs-8 col-sm-6 col-md-3">
            <img src="./assets/desings/kenstok1_03.jpg" class="img-rounded img-responsive" alt="Rounded Image">
            <div class="img-details">
              <div class="author">
                <img src="assets/img/faces/victor-photo-main.jpg" alt="Circle Image"
                  class="img-circle img-no-padding img-responsive">
              </div>
              <p>Proyecto 1</p>
            </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
            <img src="./assets/desings/kenstok1_03.jpg" class="img-rounded img-responsive" alt="Rounded Image">
            <div class="img-details">
              <div class="author">
                <img src="assets/img/faces/victor-photo-main.jpg" alt="Circle Image"
                  class="img-circle img-no-padding img-responsive">
              </div>
              <p>Proyecto 2</p>
            </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
            <img src="./assets/desings/kenstok1_03.jpg" class="img-rounded img-responsive" alt="Rounded Image">
            <div class="img-details">
              <div class="author">
                <img src="assets/img/faces/victor-photo-main.jpg" alt="Circle Image"
                  class="img-circle img-no-padding img-responsive">
              </div>
              <p>Proyecto 3</p>
            </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
            <img src="./assets/desings/kenstok1_03.jpg" class="img-rounded img-responsive" alt="Rounded Image">
            <div class="img-details">
              <div class="author">
                <img src="assets/img/faces/victor-photo-main.jpg" alt="Circle Image"
                  class="img-circle img-no-padding img-responsive">
              </div>
              <p>Proyecto 4</p>
            </div>
          </div>
        </div>
      </div>
    </div>











    <div class="section landing-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <h2 class="text-center">Sigamos en contacto</h2>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <label>Nombre</label>
                  <div class="input-group" [ngClass]="{'input-group-focus' : focus===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre" (focus)="focus=true"
                      (blur)="focus=false">
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Correo</label>
                  <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Correo electrónico" (focus)="focus1=true"
                      (blur)="focus1=false">
                  </div>
                </div>
              </div>
              <label>Mensaje</label>
              <textarea class="form-control" rows="4" placeholder="Mensaje del correo"></textarea>
              <div class="row">
                <div class="col-md-4 mr-auto ml-auto base-display-center">
                  <button class="btn btn-danger btn-lg btn-fill">Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>