<div class="page-header section-dark" data-parallax="true"
    style="background-image: url('./assets/img/backgrounds/emile-perron-xrVDYZRGdw4-unsplash_original.jpg');">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class="motto text-center">
                    <h5>Hola, soy</h5>
                </div>
                <h1 class="presentation-title">Victor Romero</h1>
                <div class="motto text-center">
                    <h4>Desarrollador de Software</h4>
                </div>
                <h2 class="presentation-subtitle text-center">Bienvenido a mi portafolio</h2>
                <br />
                <a [href]="downloadCVS.emailLink" class="btn btn-outline-neutral btn-round"><i
                        class="fa fa-envelope-o"></i>
                    Gmail</a>
                <button type="button" (click)="downloadCV()" class="btn btn-outline-neutral btn-round"><i
                        class="fa fa-arrow-down"></i>Descargar</button>
            </div>
        </div>
    </div>
</div>